#header-section {
    background-color: $color1;
    background-image: url(../images/pexels-britt-pigat-9726871.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: luminosity;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    h1 {
        // font-size: 60px;
        font-size: 3.75rem;
        color: $color4;
        margin-left: 25px;
    }
}